div.modal.js-modal#catalog-modal
  div.modal__content
    div.modal__close.js-modalCloseBtn
    div.container
      div.catalog__wrap
        article.catalog__item
          div.catalog__item__slider
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
          h3.catalog__item__title Maserati GranCabrio 4.7 AT
          div.catalog__item__desc
            span 2008, 18 тыс.км, Бензин, 3.8 л,
            |
            br
            |
            span Автоматическая
          div.catalog__item__price
            span 109 900 $
          a.catalog__item__more.btn.btn--line(href='#') подробнее
        article.catalog__item
          div.catalog__item__slider
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
          h3.catalog__item__title Maserati GranCabrio 4.7 AT
          div.catalog__item__desc
            span 2008, 18 тыс.км, Бензин, 3.8 л,
            |
            br
            |
            span Автоматическая
          div.catalog__item__price
            span 109 900 $
          a.catalog__item__more.btn.btn--line(href='#') подробнее
        article.catalog__item
          div.catalog__item__slider
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
            img(src='img/slide-car.png' alt='slide image')
          h3.catalog__item__title Maserati GranCabrio 4.7 AT
          div.catalog__item__desc
            span 2008, 18 тыс.км, Бензин, 3.8 л,
            |
            br
            |
            span Автоматическая
          div.catalog__item__price
            span 109 900 $
          a.catalog__item__more.btn.btn--line(href='#') подробнее
    div.catalog__all
      a.btn.btn--line(href='#') смотреть все авто