include ../mixins/all
doctype html
html
  head
    include _head

  body.no-scroll(class=bodyClass)
    div.preloader
      div.preloader__gif
    //BEGIN out
    .out(class=outClass)
      block header
        include ../partials/_header
      block content
    //END out

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="js/app.js")
